-- Supabase SQL Migration: Change case_no to text type

-- Step 1: Change case_no column type to text (VARCHAR is alias for TEXT in PostgreSQL)
ALTER TABLE cases 
ALTER COLUMN case_no TYPE TEXT USING case_no::TEXT;

-- Step 2: Add comment for documentation
COMMENT ON COLUMN cases.case_no IS '見積番号（文字列形式対応: 例 R8-SO001, 123 など）';

-- Verify the change
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'cases' AND column_name = 'case_no';

